@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
    --color-white:#ffffff;
    --color-dark-green: #274820;
    --color-font-black:#000000;
    --color-font-green:#437937;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #808080;

}
.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: var(--color-dark-green);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 2rem;
    color: var(--color-font-black);
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid var(--color-dark-green);
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: var(--color-white);
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: var(--color-white);
    cursor: pointer;
    background: var(--color-font-green);
}
button:hover{
    background: rgba(67, 121, 55, 0.877);
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: rgb(17, 107, 143);
    text-decoration: none;
}
.membro{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}
.membro a{
    color:rgb(17, 107, 143);
    text-decoration: none;
}
.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    color: var(--color-white);
}

